<div class="admProduto">
  <div class="header">
    <div class="frase">“Nada na vida é fácil, então lute”</div>
    <div class="carrinho">logo carrinho</div>
    <div class="login">icone login botaologin</div>
  </div>
  <div class="selectors">
    <div class="btnAdd">botao adicionar</div>
    <div class="input-search">filtro de busca</div>
  </div>
  <div class="pages">
    <div class="produtos">
      <div class="foto">foto do produto</div>
      <div class="botoes">
        <button>add</button>
        <button>excluir</button>
      </div>
      <div class="valores">
        <div class="valorCompra">33</div>
        <div class="valorVenda">99</div>
      </div>
      <div class="nomeProduto">racao de cachorro</div>
      <div class="description">lorem ipsum dolor sit amet</div>
    </div>
  </div>
</div>
