.admProduto {
  display: grid;
  width: 100%;
  height: 100%;
  margin: 0;

  .header {
    display: inline-flex;
    justify-content: space-between;
    background-color: #efdb00;
    width: 100%;
  }

  .botoes {
    display: flex;
    justify-content: space-around;
  }
}
