<div class="admProduto">
  <div class="header">
    <div class="frase">
      <h2>Cadastro de produtos</h2>
    </div>
    <div class="carrinho">
      <span class="material-symbols-outlined"> shopping_cart_checkout </span>
    </div>
    <div class="login">
      <span class="material-symbols-outlined"> settings </span>
    </div>
  </div>
  <div class="selectors">
    <div class="button is-primary btnAdd">
      <a routerLink="/modal-add-produto">Novo produto</a><br />
    </div>
    <div class="input-search">
      <input class="input" type="text" placeholder="Buscar por produto" />
    </div>
  </div>
  <div class="pages">
    <div class="produtos">
      <div class="foto">
        <figure class="image is-128x128">
          <img
            src="https://img.freepik.com/vetores-gratis/modelo-de-rotulo-de-racao-para-cachorro-vetor-abstrato-design-de-embalagem-layout-banner-de-tipografia-moderna_167715-2125.jpg?w=2000"
          />
        </figure>
      </div>
      <div class="botoes">
        <button class="button is-primary">Adicionar produto</button>
        <button class="button is-danger">excluir produto</button>
      </div>
      <div class="valores">
        <div class="tag is-info valorCompra">valor de compra: 33.30</div>
        <div class="tag is-primary valorVenda">Valor de venda: R$ 99.90</div>
      </div>
      <div class="tag is-info nomeProduto">Ração \PusKás 1Kg</div>
      <div class="tag is-light description">lorem ipsum dolor sit amet</div>
    </div>
    <div class="modal" value="modal" id="modal">
      <hr />
      <a routerLink="/modal-add-produto">Adicionar</a><br />
    </div>
  </div>
</div>
