<div class="container">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="">
        <img
          src="https://media.istockphoto.com/vectors/dog-paw-icon-logo-vector-id1005374612?k=20&m=1005374612&s=612x612&w=0&h=zo22HAZ894_BIn9TxNQscm6BYGnKQZkVTJLRxRdBGTg="
          width="120"
          height="50"
        />
      </a>

      <a
        role="button"
        class="navbar-burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarBasicExample"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item"> Home </a>

        <a class="navbar-item"> Produtos </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link"> Saiba mais </a>

          <div class="navbar-dropdown">
            <a class="navbar-item"> Carrinho </a>
            <a class="navbar-item"> Pedidos </a>
            <a class="navbar-item"> promoções </a>
            <hr class="navbar-divider" />
            <a class="navbar-item"> fale conosco </a>
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-danger" routerLink="/cadastre-se">
              <strong>sair</strong>
            </a>
            <a class="button is-link" routerLink="/carrinho"> carrinho </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="card">
    <div class="card-content">
      <div class="content">
        <div class="card">
          <div class="card-image">
            <figure class="image is-128x128">
              <img
                src="https://i.pinimg.com/originals/9e/12/00/9e1200389c8a528aa68d181b3e220ae5.png"
                alt="Placeholder image"
              />
            </figure>
          </div>
          <p>1Kg ração p/cachorro</p>
          <p>R$ 99,90</p>
          <div class="buttons">
            <button class="button is-primary is-light" routerLink="/carrinho">
              Comprar
            </button>
            <button class="button is-link is-light" routerLink="/carrinho">
              Carrinho
            </button>
          </div>
        </div>
        <div class="card">
          <div class="card-image">
            <figure class="image is-128x128">
              <img
                src="https://www.petlove.com.br/images/products/213033/product/Ra%C3%A7%C3%A3o_Golden_Gatos_Adultos_Carne_310001_10_1kg.jpg?1627684112"
                alt="Placeholder image"
              />
            </figure>
          </div>
          <p>1Kg ração p/gato</p>
          <p>por: R$ 79,90</p>
          <div class="buttons">
            <button class="button is-primary is-light" routerLink="/carrinho">
              Comprar
            </button>
            <button class="button is-link is-light" routerLink="/carrinho">
              Carrinho
            </button>
          </div>
        </div>
        <div class="card">
          <div class="card-image">
            <figure class="image is-128x128">
              <img
                src="https://png.pngtree.com/png-vector/20191121/ourlarge/pngtree-cute-dog-collar-vector-or-color-illustration-png-image_2012904.jpg"
                alt="Placeholder image"
              />
            </figure>
          </div>
          <p>coleira</p>
          <p>por: R$ 39,90</p>
          <div class="buttons">
            <button class="button is-primary is-light" routerLink="/carrinho">
              Comprar
            </button>
            <button class="button is-link is-light">Carrinho</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="pagination" role="navigation" aria-label="pagination">
    <a class="pagination-previous is-disabled" title="This is the first page"
      >voltar</a
    >
    <a class="pagination-next" routerLink="">Próxima Página</a>
    <ul class="pagination-list">
      <li>
        <a
          class="pagination-link is-current"
          aria-label="Page 1"
          aria-current="page"
          routerLink=""
          >1</a
        >
      </li>
      <li>
        <a class="pagination-link" aria-label="Goto page 2" routerLink="">2</a>
      </li>
      <li>
        <a class="pagination-link" aria-label="Goto page 3" routerLink="">3</a>
      </li>
    </ul>
  </nav>
</div>
