.home {
  background-color: #fff;
  display: flex;
  color: yellow;
  width: 100%;
  height: 100%;
  margin: 0 auto;

  .content {
    display: grid;
    width: 100%;
    height: 100%;
    margin: 0 auto;

    .navigation {
      margin-left: 0;
      padding: 2px;
      width: 200px;
      min-height: 200px;
      height: auto;
      background-color: #78279d;

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li a {
          color: yellow;
        }
      }
    }

    .header {
      margin-top: 0;
      width: 500px;
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
