<div class="home">
  <div class="navigator">
    <div class="navigation">
      <ul>
        <li><a href="default.asp">Home</a></li>
        <li><a href="news.asp">Produtos</a></li>
        <li><a href="contact.asp">configurações</a></li>
        <li>sair</li>
      </ul>
    </div>
    <div class="header">
      <input
        class="input is-medium"
        type="text"
        placeholder="Pesquise o produto desejado"
      />
      <div class="carrinho">
        <span class="material-icons"> shopping_cart </span>
        <p>Carrinho</p>
      </div>
      <div class="login" (click)="goToLogin()">
        <span class="material-icons"> account_circle </span>
        <p>Login</p>
      </div>
    </div>
  </div>
  <div class="content tabs is-toggle is-toggle-rounded">
    <ul>
      <li class="is-active">
        <a>
          <span class="material-icons"> pets </span>
          <span>Rações</span>
        </a>
      </li>
      <li>
        <a>
          <span class="material-icons"> lock </span>
          <span>coleiras</span>
        </a>
      </li>
      <li>
        <a>
          <span class="material-icons"> bathroom </span>
          <span>Produtos para banho</span>
        </a>
      </li>
      <li>
        <a>
          <span class="material-icons"> devices_other </span>
          <span>Diversos</span>
        </a>
      </li>
    </ul>
  </div>
</div>
