<div class="container">
  <nav class="breadcrumb is-centered" aria-label="breadcrumbs">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Produtos</a></li>
      <li><a href="#">sobre nós</a></li>
      <li class="is-active">
        <a href="#" aria-current="page">Fale conosco</a>
      </li>
    </ul>
  </nav>
</div>
<div class="container">
  <div class="field">
    <p class="control has-icons-left has-icons-right">
      <input class="input is-danger" type="email" placeholder="E-mail" />
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-check"></i>
      </span>
    </p>
  </div>
  <div class="field">
    <p class="control has-icons-left">
      <input class="input is-danger" type="password" placeholder="Senha" />
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
    </p>
  </div>
  <div class="field">
    <p class="control">
      <button class="button is-success" routerLink="/produtos">
        Cadastre-se
      </button>
    </p>
  </div>
</div>
