<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-responsive" />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>Product name</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">
        manage product<span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Add product to shopping list</a></li>
        <li><a href="#">Edit product</a></li>
        <li><a href="#">delete</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">items</div>
</div>
