<div class="container">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="">
        <img
          src="https://media.istockphoto.com/vectors/dog-paw-icon-logo-vector-id1005374612?k=20&m=1005374612&s=612x612&w=0&h=zo22HAZ894_BIn9TxNQscm6BYGnKQZkVTJLRxRdBGTg="
          width="120"
          height="50"
        />
      </a>

      <a
        role="button"
        class="navbar-burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarBasicExample"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item"> Home </a>

        <a class="navbar-item"> Produtos </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link"> Saiba mais </a>

          <div class="navbar-dropdown">
            <a class="navbar-item"> Carrinho </a>
            <a class="navbar-item"> Pedidos </a>
            <a class="navbar-item"> promoções </a>
            <hr class="navbar-divider" />
            <a class="navbar-item"> fale conosco </a>
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-danger">
              <strong>Sair</strong>
            </a>
            <a class="button is-link"> pedidos </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-128x128">
          <img
            src="https://i.pinimg.com/originals/9e/12/00/9e1200389c8a528aa68d181b3e220ae5.png"
            alt="Placeholder image"
          />
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">1Kg ração para cachorro</p>
        <p class="subtitle is-6">por: R$ 99,90</p>
      </div>
    </div>

    <div class="content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
      iaculis mauris. <a>@bulmaio</a>. <a href="#">#css</a>
      <a href="#">#responsive</a>
      <br />
      <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
    </div>
  </div>
  <div class="buttons">
    <button class="button is-primary is-success">Comprar</button>
    <button class="button is-link is-darger">Cancelar</button>
  </div>
</div>
